.pai {
  text-align: center;
  width: 200px;
  min-height: 100px;
  background-color: #a410e2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  box-shadow: 0px 5px 4px black;
  cursor: pointer;
}
.pai h2 {
}
.pai p {
  font-size: 1rem;
}
.quadro-maior {
  height: 137px;
}
.pai:hover {
  height: 157px;
  filter: brightness(0.9);
}
